* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: black;
    color: white;
}

header {
    padding: 0px 0px 10px 20px;
}

h2,
p {
    margin: 0;
    padding: 0;
}

#planets {
    display: flex;
    direction: row;
    text-align: center;
    flex-wrap: nowrap;
    overflow: auto;
    
}


#planets canvas {
    width: 150px;
    /* background-color: teal; */

}

.mainSection {
    display: grid;
    grid-template-columns: 25% 50% 25%;

}

.mainSection>*:not(#canvasDiv) {
    background-color: rgba(255, 255, 255, 0.342);
    margin: 10px;
}

.mainSection canvas {
    width: 100%;
}

.planet {
    padding: 0px 30px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.205);
}
.planet:hover{
    transform: scale(1.1);
}
.planet img {
    width: 100px;
    height: 100px;
    /* border: 1px solid rgba(255, 255, 255, 0.253); */
}
aside{
    padding: 10px;
}
aside h3{
    margin: 0;
}
aside p{
    margin: 10px;
    text-align: justify;
    letter-spacing: .5pt;
}
aside.rightAside{
    border-radius: 10px 0px 0px 10px;
}
aside.leftAside{
    border-radius: 0px 10px 10px 0px;
}
aside.rightAside table{
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
aside.leftAside div{
    display: grid;
    grid-template-columns: repeat(3,33%);
    text-align: center;
}
aside.leftAside figure {
    margin: 10px;
    background-color: rgba(255, 235, 205, 0.164);
    border-radius: 10px;
}
aside figure figcaption {
    
    font-size: 80%;
}

#loading{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color:rgb(31, 13, 13);
    top: 35%;
    left: 30%;
    right: 30%;
    bottom: 20%;
    text-align: center;
    border-radius: 40px;
    visibility: collapse;
    z-index: 1000;
}
#loading img{
    width: 50px;
    height: 50px;
    /* display: inline-block; */
    /* margin: auto; */
    text-align: center;
    
}
.bottomSection{
    background-color: rgba(255, 255, 255, 0.068);
    padding: 10px;
    display: block;
    width: 50%;
    margin: auto;
    border-radius: 20px;

}
.bottomSection p{
    display: block;
    text-align: center;
    
}
